################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ES.vcxproj
/ES.vcxproj.filters
/ES.sln
/ES.vcxproj.user
./ES/
./x64/