################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ES.vcxproj
/ES.vcxproj.filters
./x64
./ES
/ES.sln
/ES.vcxproj.user